.post-description {
    color: #e67e22;
    font-weight: 600;
    cursor: pointer;
    background-color: #e67d2242;
    padding: 20px;
    border-radius: 15px;
}


.my-post {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
  }

